{% extends"base.html" %}
{% block content %}

    <head>

      <title>Network Rail</title>

  </head>

   <body>

    <div class="container">

    <div class="jumbotron">

        <!-- Page Content -->
        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-12">

                <!-- First Blog Post -->
                <h2 style="text-align:center">
                    {% for item in sales %}
                        <a href="{{ url_for('blog', id=item.id) }}">{{ item.title }}</a>
                    {% endfor %}


                </h2>
            {% for item in sales %}
                <p class="lead" style="text-align:center">
                    by <a href="index.php">{{ item.author }}</a>
                </p>
                <p style="text-align:center"><span class="glyphicon glyphicon-time"></span> Posted on {{ item.date }} </p>
                <hr>
                <img class="img-responsive-blog" src="{{ item.image }}" align="middle" alt="">

                <br>
                <br>


                <p>{{ item.content }}</p>

                <br>

                <div>
                    {% endfor %}

                    <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

                    </div>



                        <div>





    </body>

    {% endblock %}