{% extends"base.html" %}
{% block content %}

    <head>

      <title>Network Rail</title>

  </head>

   <body>

    <div class="container">

        <!-- Page Content -->
        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-12">

                <!-- First Blog Post -->
                <h2 style="text-align:center">
                    {% for item in sales %}
                    <a href="#">{{ '%s'%item.title }}</a>
                    {% endfor %}
                </h2>
            {% for item in sales %}
                <p class="lead" style="text-align:center">
                    by <a href="index.php">{{ item.author }}</a>
                    {% endfor %}
                </p>
                <p style="text-align:center"><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
                <hr>
                <img class="img-responsive" src="http://placehold.it/1100x300" align="middle" alt="">

                <br>


                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>

                <br>

                <div>

                    <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>



                        <div>





    </body>

    {% endblock %}