{% extends"base.html" %}
{% block content %}

   <body>

      <div class="jumbotron">
        <h1>My personal blog!</h1>
        <p class="lead">Welcome to my personal blog where my main area of focus will be Web related security. The blog will also feature articles about wider tech related issues.</p>
        <p><a class="btn btn-lg btn-success" href="/blog_post" role="button">View more posts!</a></p>
      </div>

        {% for item in sales %}


        <div class="col-lg-6">
          <h4><a href="{{ '/blog_post' }}">{{ item.title }}</a></h4>
          <p> {{ item.content[:120] }}......</p>
        </div>

        {% endfor %}







    </body>

    {% endblock %}
