{% extends "base.html" %}
{% block content %}

    <!-- Page Content -->

    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1 class="text-center">A Warm Welcome!</h1>
            <p class="text-center">I am 3rd year web development student at Edinburgh Napier University,my main area of
                focus on this blog will be web related security and other tech related issues.</p>
            <p><a href="/blogs-all" class="btn btn-primary btn-large center-block">View More!</a>
            </p>
        </header>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3 style="color: white">Latest Blogs</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            {% for item in sales %}

                <div class="col-md-4 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img class="img-responsive" src="{{ item.image }}" alt="">
                        <div class="caption">
                            <h4><a href="{{ url_for('blog', id=item.id) }}">{{ item.title }}</a></h4>
                            <p> {{ item.content[:100] }}......</p>
                            <p>
                                <a href="{{ url_for('blog', id=item.id) }}" class="btn btn-default">View more</a>
                            </p>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p class="footer">Copyright &copy; MyBlog 2016</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>




{% endblock %}
